<main class="login-component-container">
  <form (ngSubmit)="login()" #form="ngForm">
    <mat-card fxLayout="column" class="login-card mat-elevation-z3">
      <img
        mat-card-lg-image
        fxFlexAlign="center"
        fxLayoutAlign="center"
        src="assets/images/internlog-logo.jpg"
        thumbnail
        fluid
      />

      <mat-card-content fxLayout="column">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            required
            [(ngModel)]="loginRequest.username"
            name="username"
            class="form-control rounded-3 mx-auto"
            type="text"
            id="username"
            #username="ngModel"
            placeholder="Username"
          />
          <mat-error
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="text-danger"
          >
            Please enter a valid username.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            required
            [(ngModel)]="loginRequest.password"
            name="password"
            class="form-control rounded-3 mx-auto"
            type="password"
            id="password"
            #password="ngModel"
          />
          <mat-error
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            Please enter a password.
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="" fxLayout="row" fxLayoutAlign="space-between">
        <a fxFlex="1 1 45%" mat-flat-button type="button">
          Create a New Account
        </a>
        <button
          fxFlex="1 1 25%"
          mat-flat-button
          color="primary"
          [disabled]="username.invalid || password.invalid"
          type="submit"
        >
          Login
        </button>
      </mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
  </form>
</main>
