<div class="text-center">
  <div class="">
    <div class="mt-5">
      <img
        style="border: 0; width: 250px; height: 250px"
        src="assets/images/internlog-logo.jpg"
        thumbnail
        fluid
        class="mt-5"
      />
    </div>
  </div>

  <div class="">
    <label for="userName" class="mx-auto"> Username </label>
    <input
      class="form-control rounded-3 w-25 mx-auto"
      type="text"
      id="userName"
    />
  </div>

  <div class="">
    <label for="password">Password</label>
    <input
      class="form-control rounded-3 w-25 mx-auto"
      type="password"
      id="password"
    />
  </div>

  <div class="">
    <label for="password">Confirm Password</label>
    <input
      class="form-control rounded-3 w-25 mx-auto"
      type="password"
      id="password"
    />
  </div>

  <div class="">
    <Button class="btn btn-primary mx-auto w-25 mt-3" size="sm" type="submit">
      Register
    </Button>
  </div>
</div>
