<div class="app-home-container" fxLayout="column">
  <mat-card fxLayout="column">
    <h1>Log History</h1>
    <hr />

    <div fxLayout="row">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
          >Invalid start date</mat-error
        >
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
          >Invalid end date</mat-error
        >
      </mat-form-field>
    </div>

    <!-- <pre *ngIf="userData$ | async as userData">{{ userData | json }}</pre> -->

    <div class="mat-elevation-z8">
      <table mat-table *ngIf="dataSource" matSort [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date: "EEEE" }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date: "shortDate" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="timeIn">
          <th mat-header-cell *matHeaderCellDef>Time In</th>
          <td mat-cell *matCellDef="let element">
            {{ element.timeIn | date: "shortTime" }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="timeOut">
          <th mat-header-cell *matHeaderCellDef>Time Out</th>
          <td mat-cell *matCellDef="let element">
            {{ element.timeOut | date: "shortTime" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hoursRendered">
          <th mat-header-cell *matHeaderCellDef>Hours Rendered</th>
          <td mat-cell *matCellDef="let element">
            {{ element.hoursRendered }}
          </td>
        </ng-container>

        <ng-container matColumnDef="hoursRenderedMinusLunchBreak">
          <th mat-header-cell *matHeaderCellDef>
            Hours Rentered minus lunch break hour
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.hoursRendered - 1 }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          color="primary"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </mat-card>

  <button mat-fab color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
