<div class="row">
  <h1>Log History</h1>
</div>

<hr />

<div class="row">
  <div class="col-lg-3 col-12">
    <mat-form-field appearance="fill">
      <mat-label>Date From</mat-label>
      <input matInput [matDatepicker]="dateFromPicker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateFromPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-lg-3 col-12">
    <mat-form-field appearance="fill">
      <mat-label>Date To</mat-label>
      <input matInput [matDatepicker]="dateToPicker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
      <mat-datepicker #dateToPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col-lg-3 col-12 text-center text-lg-start">
    <button class="btn btn-primary ms-3">Search</button>
  </div>

  <div class="col-lg-3 col-12 text-center text-lg-end">
    <button class="btn btn-lg btn-primary" (click)="openModal()">
      + Log Attendance
    </button>
  </div>
</div>

<div class="row py-2">
  <div class="col-12">
    <table class="table table-primary table-striped table-bordered">
      <thead>
        <tr class="text-center">
          <th>Day</th>
          <th>Date</th>
          <th>Time In</th>
          <th>Time Out</th>
          <th>Hours Rendered</th>
          <th>Hours minus lunch break hour</th>
        </tr>
      </thead>
      <tbody *ngFor="let timesheet of timesheets">
        <tr>
          <td>{{ timesheet.date | date: "EEEE" }}</td>
          <td>{{ timesheet.date | date: "shortDate" }}</td>
          <td>{{ timesheet.timeIn | date: "shortTime" }}</td>
          <td>{{ timesheet.timeOut | date: "shortTime" }}</td>
          <td>{{ timesheet.hoursRendered }}</td>
          <td>{{ timesheet.hoursRendered - 1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
