<div class="modal-header">
  <h5 class="modal-title" id="new-timesheet-modal">Log Attendance</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <form>
    <div class="row d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input name="timesheetDate" id="timesheetDate" matInput [matDatepicker]="datePicker" [(ngModel)]="timesheet.date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="input-group my-1">
      <label class="col-form-label col-2 form-text" for="timeIn">Time In</label>
      <input
        class="form-control ms-3"
        type="time"
        id="timeIn"
        name="timeIn"
        [(ngModel)]="timesheet.timeIn"
      />
    </div>

    <div class="input-group my-1">
      <label class="col-form-label col-2 form-text" for="timeOut"
        >Time Out</label
      >
      <input
        class="form-control ms-3"
        type="time"
        id="timeOut"
        name="timeOut"
        [(ngModel)]="timesheet.timeOut"
      />
    </div>

    <div class="input-group my-1">
      <div class="form-check form-check-inline">
        <input
          mdbRadio
          class="form-check-input"
          type="radio"
          name="inputCheck"
          id="isAbsent"
          [(ngModel)]="timesheet.isAbsent"
        />
        <label class="form-check-label" for="isAbsent"> Absent </label>
      </div>
      <div class="form-check form-check-inline">
        <input
          mdbRadio
          class="form-check-input"
          type="radio"
          name="inputCheck"
          id="isHoliday"
          [(ngModel)]="timesheet.isHoliday"
        />
        <label class="form-check-label" for="isHoliday"> Holiday </label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer text-center">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Cancel
  </button>
  <button type="button" class="btn btn-primary" (click)="saveTimesheet()">
    Save
  </button>
</div>
