<!-- <app-nav></app-nav> -->

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    mode="side"
    class="mat-elevation-z8 app-sidenav"
  >
    <div fxLayout="column" class="app-sidenav-inner-container">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <mat-nav-list>
        <a
          mat-list-item
          [routerLinkActive]="['activeNavbarLink']"
          [routerLink]="['/app', 'home']"
        >
          Timesheets</a
        >
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>InternLog</h1>
      <span class="spacer"></span>
      <button
        mat-flat-button
        color="primary"
        [matMenuTriggerFor]="profileMenu"
        *ngIf="authService.userData$ | async as userData"
      >
        <mat-icon>person</mat-icon>
        {{ userData["given_name"] }} {{ userData["family_name"] }}
        <!-- {{ userData | json }} -->
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/identity', 'profile']">
          Profile
        </button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container> -->

<!-- <app-footer></app-footer> -->
