.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.app-sidenav-inner-container {
  height: 100%;
  min-height: 100%;
}

.app-sidenav {
  width: 300px;
}

.spacer {
  flex: 1 1 auto;
}

.activeNavbarLink,
.activeNavbarLink:hover {
  background-color: rgba(103, 58, 183, 0.2);
  color: rgba(103, 58, 183, 1);
}
